{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

<h3>&lt;PowerCalendar /&gt;</h3>
<div id="power-calendar">
    <PowerCalendar
        @center={{this.someDate}}
        @selected={{this.selected}}
        @onSelect={{this.onSelect}}
        @onCenterChange={{this.onCenterChange}} as |calendar|
    >
        <calendar.Nav />
        <calendar.Days />
    </PowerCalendar>
</div>

<h3>&lt;PowerCalendarRange /&gt;</h3>
<div id="power-calendar-range">
    <PowerCalendarRange
        @center={{this.someDate}}
        @selected={{this.selectedRange}}
        @minRange="1w"
        @onSelect={{this.onSelectedRange}}
        @onCenterChange={{this.onCenterChangeMultiple}} as |calendar|
    >
        <calendar.Nav />
        <calendar.Days />
    </PowerCalendarRange>
</div>

<h3>&lt;PowerCalendarMultiple /&gt;</h3>
<div id="power-calendar-multiple">
    <PowerCalendarMultiple
        @center={{this.someDate}}
        @selected={{this.selectedMultiple}}
        @onSelect={{this.onSelectedMultiple}}
        @onCenterChange={{this.onCenterChangeMultiple}} as |calendar|
    >
        <calendar.Nav />
        <calendar.Days />
    </PowerCalendarMultiple>
</div>